<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="senior-status">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Senior</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="battery-status">
      <ion-icon name="ios-battery-full"></ion-icon>
      <ion-label>Batteries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Notification</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="mqtt-broker">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>MQTT</ion-label>
        <ion-badge>{{badgeNum}}</ion-badge>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>