<ion-header>
  <ion-toolbar>
    <ion-title>Senior status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- cards -->
  <!-- <ion-card background="primary">
      <img src="../../assets/img/kitchen.jfif" />
      <ion-card-header>
        <ion-card-title color="success">Last Seen Place</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          In the lovely Kitchen
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card background="primary">
      <ion-card-header>
        <ion-card-title color="warning">Time since last motion</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          4min 50sec
        </ion-item>
      </ion-card-content>
    </ion-card> -->
  <!-- charts -->
  <ion-button (click)="parseMessageList()">Parse message</ion-button>
  <!-- <ion-card *ngFor="let token of tokenList">
    <ion-item>
      token
    </ion-item>
  </ion-card> -->
  <ion-card>
    <ion-card-header>
      Bar Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Doughnut Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
