

  <ion-header>
    <ion-toolbar>
      <ion-title>MQTT Tutorial</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>Status: <b>{{this.mqttStatus}}</b></ion-card-content>
  </ion-card>

  <ion-row justify-content-center align-items-center>
      <ion-button (click)="connect()">Connect</ion-button>
      <ion-button (click)="disconnect()">Disconnect</ion-button>
  </ion-row>

  <ion-card>
    <ion-card-header>Message Received:</ion-card-header>
    <ion-card-content>{{this.message}}</ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>Message to Send:</ion-card-header>
      <ion-textarea [(ngModel)]='messageToSend'>{{this.messageToSend}}</ion-textarea>
  </ion-card>

  <ion-row justify-content-center align-items-center>
    <ion-button (click)="sendMessage()">Send Message</ion-button>
  </ion-row>
</ion-content>

